@import "tailwindcss";

@theme {
  --color-kq-white: #E6E3D0;
  --color-kq-black: #0A0A0C;
  --color-kq-pink: #925553;
  --color-kq-blue: #53A2CB;
  --color-kq-yellow: #E7BF46;
  --color-kq-red: #D25B37;
}
