@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-kq-white: #F1EEDC;
  --color-kq-black: #0A0A0C;
  --color-kq-black-100: #1F1F22;
  --color-kq-black-200: #0A0A0C;
  --color-kq-black-300: #050507;
  --color-kq-pink: #925553;
  --color-kq-blue: #53A2CB;
  --color-kq-yellow: #E7BF46;
  --color-kq-red: #D25B37;
}
